DATABASE_URL=postgres://user:password@localhost:5432/camp
PORT=3000

S3_ENDPOINT=
S3_REGION=ru-central1
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_PUBLIC_URL=

SUPERTOKENS_CONNECTION_URI=http://localhost:3567
SUPERTOKENS_API_KEY=
SUPERTOKENS_APP_NAME=Camp Programs
SUPERTOKENS_API_DOMAIN=http://localhost:3000
SUPERTOKENS_WEBSITE_DOMAIN=http://localhost:3000
SUPERTOKENS_API_BASE_PATH=/auth
SUPERTOKENS_WEBSITE_BASE_PATH=/auth
